.wrapper {
  position: absolute;
  z-index: 10;
}

.navbar {
  background-color: var(--header-background-color);
  width: 20rem;
  box-shadow: 0 0 8px #000000;

  a {
    height: 6rem;
    line-height: 6rem !important;
    font-size: 1.4rem !important;
  }
}

.storenav {
  background-color: var(--storenav-bg-color);
  width: auto;
  min-width: var(--storenav-min-width);
  box-shadow: 0 0 8px #000000;
}

.search {
  height: 200px;
}

.subnav {
  display: flex;
  flex-direction: column;
}

.subnav-item {
  a {
    font-size: 1.4rem;
    line-height: 5rem;
  }
}

.actionMenu {
  background-color: var(--header-background-color);
  width: 16rem;
  top: 80px;
  right: calc((100% - var(--content-size)) / 2 + 48px);
  box-shadow: 0 0 12px #000000;
}
