.wrapper {
  width: 100%;
  height: auto;
  background-color: #171a21;
}

.title {
  font-size: 2rem;
  padding: 2rem 0 1rem 3rem;
  text-transform: capitalize;
  color: var(--white);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  .icon {
    margin-right: 1rem;
  }

  user-select: none;
}

.container {
  width: 100%;
  height: auto;
}
