@import 'normalize.css';

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --gray: #ccc;
  --text-color: #161823;

  --font-family: 'ProximaNova', sans-serif;

  // Header
  --header-background-color: #171a21;
  --header-height: 10rem;
  --header-width: 120rem;

  // Side Bar
  --sidebar-width: 20rem;
  --sidebar-color: #7ac8d4;
  --sidebar-border-color: #316688;

  // Store Nav
  --storenav-height: 3.5rem;
  --storenav-min-width: 18rem;
  --storenav-bg-color: #317dbd;
  --storenav-bg-color-hover: #3fa7ff;

  //Search
  --border-radius: 5px;
  --search-box-bg-color: #316282;
  --search-button-bg-color: #3b6e8c;
  --search-button-bg-color-hover: #66beef;

  //Body
  --store-bg-color: linear-gradient(180deg, #1b2838 0%, #1b2838 80%);

  // Footer
  --footer-height: 20rem;
  --footer-icon-font-size: 2.4rem;
}

html {
  font-size: 62.5%;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  outline: 0;
}

a[href] {
  text-decoration: none;
  // text-align: center;
}

a,
ul {
  list-style: none;
  color: var(--text-color);
}
