.search {
  margin-top: 1px;
}

.search-box {
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.spacing {
  flex: 5;
}

.search-input {
  padding: 0 2rem;
  background-color: var(--search-box-bg-color);
  border: 1px solid transparent;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  flex: 4;

  &:hover,
  &:focus {
    border: 1px solid var(--black);
    color: var(--white);
  }
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--storenav-height) - 0.4rem);
  height: calc(var(--storenav-height) - 0.4rem);
  border: 1px solid var(--black);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-right: 2px;
  background-color: var(--search-button-bg-color);
  align-self: center;
  flex: 1;
  overflow: hidden;
  svg {
    font-size: 1.6rem;
  }

  &:hover {
    background-color: var(--search-button-bg-color-hover);
    cursor: pointer;
  }
}

// Searh results dropdown
.search-results {
  display: absolute;
  background-color: #fff;
  height: auto;
  margin-top: 2px;
  z-index: 3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #575860;
  box-shadow: 0 0 8px #000000;
}

.header {
  height: 3rem;
  background-color: #575860;
  padding-left: 0.8rem;
  z-index: 3;

  p {
    color: var(--white);
    width: 100%;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 500;
  }
}

.container {
  z-index: 3;
}

.result {
  height: 6.4rem;
  padding: 0 0.8rem;
  background-color: #575860;
  border-top: 0.5px solid var(--black);

  &:hover {
    background-color: #212d3d;
  }

  .game-wrapper {
    display: flex;
    margin: 0;
  }

  .game-img {
    flex: 1;
    height: 6rem;
    width: 12rem;
    margin: 0.15rem 0rem 0.25rem 0rem;
  }

  .game-detail {
    display: flex;
    flex: 4;
    justify-content: center;
    flex-direction: column;
    margin-left: 1.6rem;

    p {
      font-size: 1.4rem;
      text-align: left;
      color: var(--white);
    }
  }
}
.footer {
  display: flex;
  text-align: center;
  height: 2rem;
  background-color: #575860;
  border-top: 0.5px solid var(--black);
  z-index: 3;

  a {
    width: 100%;
    color: var(--white);
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;

    &:hover {
      color: var(--primary);
    }
  }
}
