.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: var(--store-bg-color);
}

.container {
  display: flex;
  flex-direction: row;
  padding: 3.2rem calc((100% - var(--header-width) - var(--sidebar-width) * 2) / 2);
}

.content {
  flex: 1;
  min-height: 765px;
  background-color: transparent;
  margin-right: var(--sidebar-width);
  margin-left: var(--sidebar-width);
}
