.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex: 10;

  user-select: none;
}

.screen {
  width: 100%;
  height: calc(0.8 * 100%);
  background-color: rgba(0, 0, 0, 0.5);
}
.screen-img {
  width: calc(100% - 10rem);
  height: 35rem;
  margin: 2.5rem 5rem;
}

.gallery-items {
  height: calc(0.2 * 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-item {
  height: 10rem;
  width: 20rem;
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    height: 9rem;
    width: 18rem;
    background: none;
    padding: 2.5rem 2rem 1rem 2rem;
  }
  .focus {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../../public/images/highlight_activethumb.png');
  }
}
