.wrapper {
  width: 100%;
  height: 50rem;
  background-color: #171a21;
  border-bottom: 1px solid var(--white);
  margin-top: -3.2rem;
}

.wallpaper {
  width: 100%;
  height: 40rem;
}

.wallpaper-img {
  width: 100%;
  height: 100%;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.wallpaper-button {
  position: relative;
  left: 1050px;
  bottom: 50px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;

  .icon {
    margin-right: 4px;
  }
}

.avatar {
  --avatar-size: 16.4rem;
  width: var(--avatar-size);
  height: var(--avatar-size);

  border: 3px solid var(--black);
  border-radius: 50%;

  position: relative;
  bottom: 8rem;
  left: 5rem;

  user-select: none;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  position: relative;
  bottom: 4rem;
  left: 12rem;
}

.user-info {
  width: calc(100% - 25rem);
  height: 8rem;

  position: relative;
  bottom: 16rem;
  left: 25rem;
}

.user-name {
  font-size: 3rem;
  color: var(--white);
  font-weight: 500;

  .icon {
    font-size: 2rem;
    margin-left: 8px;
  }
}

.user-fullname {
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 500;
}

.edit-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;

  position: relative;
  bottom: 4rem;
  left: 80rem;

  .icon {
    margin-right: 8px;
  }
}

.cancel-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: var(--primary);

  position: relative;
  bottom: 4rem;
  left: 80rem;

  .icon {
    margin-right: 8px;
  }
}
