.container-slider {
  width: 110rem;
  height: 40rem;
  margin: 3.5rem auto 0;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 60rem;
  height: 38rem;
  object-fit: contain;
}
.active-anim {
  display: block;
}

.btn-slide {
  width: 4.5rem;
  height: 9.6rem;
  background: var(--white);
  border: 1px solid var(--black);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 2.5rem;
  height: 2.5rem;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: -4.8rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
  transform: translateY(-60%);
  &:hover {
    background: linear-gradient(to right, rgba(171, 218, 244, 0.3) 5%, rgba(171, 218, 244, 0) 95%);
  }
}
.next {
  top: 50%;
  right: -4.8rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
  transform: translateY(-60%);
  &:hover {
    background: linear-gradient(to right, rgba(171, 218, 244, 0) 5%, rgba(171, 218, 244, 0.3) 95%);
  }
}

.container-dots {
  position: absolute;
  bottom: 0.5rem;
  left: 25%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 1rem;
  height: 0.5rem;
  border: 2px solid #323b44;
  margin: 0 5px;
  background: #323b44;

  &:hover {
    background: #5f6a77;
  }
}
.dot.active {
  background: var(--gray);
}

.detail-wrapper {
  position: absolute;
  top: 0;
  left: 62rem;
  height: 100%;
  width: 48rem;
}
.detail-link {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--white);
}
.detail-content {
  .title {
    padding-top: 2rem;
    font-size: 2.4rem;
  }
}

.category-items {
  display: flex;
}

.category-item {
  margin-right: 1rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--white);
  background: #3d454c;
}

.discount-prices {
  display: flex;
  font-size: 1.4rem;
  margin-top: 2rem;
}
.discount-orginal-price {
  text-decoration: line-through;
  margin-right: 1rem;
}
.discount-final-price {
  margin: 0;
}
