.wrapper {
  width: calc(var(--content-size) / 2);
  height: 50rem;
  margin: 0 calc(var(--content-size) / 4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--form-bg-color);
  border: 1px solid var(--black);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: var(--white);

  user-select: none;
  --input-width: 32rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3.2rem;
  text-align: center;

  margin-bottom: 3rem;
}

.label {
  align-self: center;

  font-size: 1.6rem;
  width: var(--input-width);
  margin-bottom: 0.5rem;
}

.username-input,
.password-input {
  align-self: center;

  font-size: 1.6rem;
  width: calc(var(--input-width) - 1rem);
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
  border: none;
  color: var(--black);
  background-color: #fff;
}

.button {
  align-self: center;
  width: 16rem;
  padding: 1rem 0;
  background-color: #1a4490;
  color: var(--white);
  font-size: 1.6rem;

  &:hover {
    background-color: #47bfff;
    color: var(--black);
  }
}

.loading {
  align-self: center;
  width: 16rem;
  height: 3.6rem;
  background-color: #1a4490;
  color: var(--white);
  font-size: 1.6rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 3px solid #fff;
    border-top: 3px solid var(--black);
    border-right: 3px solid var(--black);

    animation: spinner 1s linear infinite;
  }
}

.link {
  align-self: center;
  color: var(--white);
  font-size: 1.4rem;
  margin-top: 2rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
