.cart-item {
  display: flex;
  flex-direction: row;
  background-color: #3d4c5d;
  margin-bottom: 1rem;
  margin-right: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--black);
}

.img {
  height: 16rem;
  width: 24rem;
  margin: 2rem 4rem;
  img {
    height: 16rem;
    width: 24rem;
  }
}

.item-detail {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.item-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  margin-bottom: 3rem;
  font-weight: normal;
  a {
    color: var(--white);
    font-size: 2.4rem;
  }
}
.item-release-date,
.item-rating {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--white);
}

.category-items {
  display: flex;
  flex-wrap: wrap;
}
.category-item {
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--white);
  border: 1px solid var(--white);
  opacity: 0.5;

  &:hover {
    background: #506577;
    opacity: 1;
  }
}

.item-price {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.price {
  font-size: 1.6rem;
  color: var(--white);
  background-color: #313d4a;
  padding: 0.8rem 1.6rem;
}

.action {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.addon {
  font-size: 1.4rem;
  color: var(--white);
  user-select: none;
  margin-bottom: 0.4rem;
  align-self: center;
}
.remove {
  font-size: 1.2rem;
  color: var(--white);
  opacity: 0.5;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  &:hover {
    opacity: 1;
  }
}

.cart-button {
  height: 4rem;
  width: 12rem;
  padding: 0;
  border-radius: 0;
  background-color: #516801;
  color: var(--white);
  font-size: 1.4rem;
  text-shadow: -1px -1px 0px rgb(0 0 0 / 10%);
  &:hover {
    background: #8eb504;
    color: var(--black);
  }
  margin-top: 8rem;
  border: 4px solid #313d4a;
}

.view-cart-button {
  height: 3.2rem;
  width: 12rem;
  padding: 0;
  border-radius: 0;
  background-color: #516801;
  color: var(--white);
  font-size: 1.4rem;
  text-shadow: -1px -1px 0px rgb(0 0 0 / 10%);
  &:hover {
    background: #8eb504;
    color: var(--black);
  }
  margin-top: 8rem;
  border: 4px solid #313d4a;
}
