.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--form-bg-color);
  border: 1px solid var(--black);
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.header-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--white);
  user-select: none;
}

.container {
  width: calc(100% - 16rem);
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 1.6rem;
    margin: 3rem 0 1rem 2rem;
    padding: 0;
    text-transform: capitalize;
    color: var(--white);
    width: 50%;
    border-bottom: 1px solid var(--white);
    justify-content: flex-start;
  }
}

.line {
  display: inline-flex;
  flex-direction: row;
  padding: 0.5rem 0 0.5rem 4rem;
  justify-content: space-between;
}
.label {
  font-size: 1.6rem;
  color: var(--white);
  user-select: none;
}
.text {
  font-size: 1.8rem;
  color: var(--white);
  opacity: 0.75;
}

.avatar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  user-select: none;

  img {
    height: 60%;
    width: 60%;
    object-fit: cover;
  }
}

.icon-container {
  display: inline-flex;
  flex-direction: row;
  padding: 1rem 0 1rem 4rem;
}
.icon {
  font-size: 2.5rem;
  color: var(--white);
  margin-right: 2rem;
}
